#External Immich instance URL, API key and album ID to sync with
IMMICH_URL=https://immich.yourdomain.com
IMMICH_API_KEY=1234567890ABCDEFGHIJKLMNOP
IMMICH_ALBUM_ID=12435678-a12b-abcd-1234-a1b2c3d4e5

# Local path to the Immich2Google folder
GOOGLE_AUTH_STATE_FILE=/root/scripts/immich2google/auth_state.json
SYNCED_STATE_FILE=/root/scripts/immich2google/synced_assets.json

# NTFY_URL is the URL of your ntfy server to send notifications to. If you don't want to use ntfy, leave this empty.
NTFY_URL=https://ntfy.yourdomain.com/immich2google
NTFY_TOKEN=1234567890ABCDEFGHIJKLMNOP